Data types

In [1]:
type(10)

int

In [2]:
type(3.14)

float

In [3]:
type("Arvin")

str

In [5]:
type('A')

str

In [6]:
type(True)

bool

Data structure

In [14]:
a = [1,2,3,4]
a[3] = 5
a[3] = a[3] + 1
a

[1, 2, 3, 6]

In [16]:
b = (1,2,3,4)
b

(1, 2, 3, 4)

In [19]:
s = {1 ,2, 3}
print(1 not in s)

False

In [24]:
d = {99:"Arvin", 2 : "Arun"}
print(d[99])

Arvin

Variables

In [29]:
my_name = "arvin"
my_name

'arvin'

Operators

In [33]:
a = 1 % 2
a

1

In [37]:
a = 10
print(a >= 10)

True

In [47]:
a = {1, 2, 3, 4, 5}
print(2 not in a)

False

In [49]:
a = 10
b = 10
print(a is b)

True

Control flow in Python

if else statements

In [54]:
age = -7
if (age >= 18):
    # this runs
    print("You are an adult")
elif (age > 0):
    print("You are a child")
else:
    # this runs
    print("Invalid age")

Invalid age

Loops

In [55]:
# for 
a = [1,2, 3, 4, 5]
for i in a:
    print(i)

1
2
3
4
5

In [57]:
# while
num = 1
while (num < 10):
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9

functions

In [59]:
def factorial(n):
    if (n == 0 or  n == 1):
        return 1
    return  n * factorial(n-1)


myFact = factorial(5)
myFact1 = factorial(6)
print(myFact1)

720